.grid__container {
    width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid__item {
    position: relative;
    width: 250px;
    flex-basis: 20%;
    -ms-flex: auto;
    box-sizing: border-box;
    padding: 8px;
}

.wrapping-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: currentColor;
}

.grid__item-wrapper {
    position: relative;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 16px;
    background: var(--background-dark-secondary);
}

.item__nr {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.item__smalltitle {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.item__location {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8425rem;
    font-weight: 500;
    text-decoration: none;
    color: #ccc;
}

.item__desc1 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8425rem;
    font-weight: 500;
    text-decoration: none;
    color: #ccc;
}

.item__desc2 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8425rem;
    font-weight: 500;
    text-decoration: none;
    color: #ccc;
}

.item__desc3 {
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8425rem;
    font-weight: 500;
    text-decoration: none;
    color: #ccc;
}

@media(max-width: 1333px) {
    .grid__item {
        flex-basis: 33.33%;
    }
}

@media(max-width: 1073px) {
    .grid__item {
        flex-basis: 33.33%;
    }
}

@media(max-width: 815px) {
    .grid__item {
        flex-basis: 50%;
    }
}

@media(max-width: 620px) {
    .col {
        clear: both;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
    }
}

@media(max-width: 555px) {
    .grid__item {
        flex-basis: 100%;
    }
}